h1 {
    text-align: center;
}

#sign-up-container {
    margin-left: 358px;
    border: solid black 1px;
    max-width: 800px;
}

#who-are-you{
    text-align: center;
}







#links {
    /* display: flex;
    flex-wrap: wrap;
    gap: 20px; */
    border: solid black 1px;
}


#links-heading {
    text-align: center;
}

#spotify-label{ 
    margin-left: 10px;

}

#instagram-label{
    
}

#tiktok-label{
    
}

#youtube-label{
    
}

#facebook-label{
    
}

#bandcamp-label{
    
}


input {
    margin-top: 10px;
    margin-bottom: 20px;
}


