#connect-header{
    text-align: center;
    font-family: "Revalia", sans-serif;
    margin-bottom: 0px;
}

#basics-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: baseline;
    max-width: 1000px;
    margin-left: 422px;
    margin-top: 55px;
}

#artist-name{
    font-weight: 800;
    font-family: "Revalia", sans-serif;
    font-size: 25px;
    margin-bottom: 0px ;
    width: 150px;
    }
    
#years-together{
margin-left: 0px;
width: 190px;
font-family: "Revalia", sans-serif;
font-weight: 400;
font-size: 15px;

}

#genre{
margin-left: -20px;
width: 100px;
font-family: "Revalia", sans-serif;
font-weight: 400;
font-size: 14px;
}

#profile-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1000px;
    border: solid black 1px;
    border-radius: 20px;
    margin-left: 455px;
}

#social-media{
    margin-left: 435px;
    margin-right: 400px;
    margin-bottom: 0px;
}

#spotify-image{
    margin-left: 250px;
    width: 60px;
    height: 60px;
}

#instagram-image{
    width: 80px;
    height: 80px;
    margin-left: -5px;
}

#tiktok-image{
    width: 80px;
    height: 80px;
    margin-left: -15px;
}

#youtube-image{
    width: 100px;
    height: 100px;
    margin-left: -25px;
}

#facebook-image{
    width: 70px;
    height: 70px;
    margin-left: -20px;
}

#bandcamp-image{
    margin-right: 3px;
    width: 60px;
    height: 60px;
}

#website-image{
    width: 60px;
    height: 60px;
}

#about-header{
    margin-left: 450px;
    padding: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
}

#about-us{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   
}

